{
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:import/errors",
    "plugin:react/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": ["react", "import", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": 0,
    "no-console": 1,
    "linebreak-style": ["error", "unix"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/state-in-constructor": 0,
    "react/static-property-placement": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-named-as-default": 0

  },
  "globals": {
    "window": true,
    "FormData": true,
    "localStorage": true,
    "document": true
  }
}
