{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:import/errors",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["import", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": 1,
    "linebreak-style": ["error", "unix"],
    "import/no-named-as-default": 0
  },
  "globals": {
    "window": true,
    "FormData": true,
    "localStorage": true,
    "document": true
  }
}
